/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

nav {
  background: #333;
  color: #fff;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center; /* Center the links */
  align-items: center; /* Align items vertically */
  flex-direction: row; /* Force horizontal layout */
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 1rem;
  color: #ffcb05;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

/* Auth Form Styles */
.auth-form {
  background: #fff;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  max-width: 400px;
  text-align: center;
}

.auth-form h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #333;
  font-weight: 800;
}

.auth-form div {
  margin-bottom: 1rem;
}

.auth-form label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: left;
  color: #333;
  font-weight: bold;
}

.auth-form input {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.auth-form button {
  background: #333;
  color: #ffcb05;
  border: none;
  padding: 0.75rem;
  cursor: pointer;
  width: 100%;
  margin-bottom: 1rem;
  transition: background 0.3s ease;
}

.auth-form button:hover {
  background: #555;
}

/* Toggle Button */
.toggle-button {
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.toggle-button:hover {
  color: #555;
}

/* Responsive Design */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out; /* Add transition for smoother changes */
  }

  .auth-form {
    padding: 1rem;
  }

  .container {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  nav h2 {
    font-size: 1.5rem;
  }

  .auth-form {
    padding: 0.5rem;
  }

  .auth-form button {
    padding: 0.5rem;
  }

  .auth-form h2 {
    font-size: 1.25rem;
  }

  .toggle-button {
    font-size: 0.85rem;
  }
}
